<h2>Por Región</h2>
<hr>

<div class="row">
  <!-- se cambiar por onDebouce (onValue)="searchByregion($event)" -->
  <!-- <shared-search-box
  (onDebounce)="searchByregion($event)"
      placeHolder="Buscar por Región"
  ></shared-search-box> -->
  <div class="col text-center">
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-primary' : selectedRegion===region }"
      (click)="searchByregion(region)"
      >
        {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
